*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}

h1{
  font-size: 4rem;
  line-height: 1.5;
  letter-spacing: -0.02rem;
  color: white;
  margin:0;
}

h1 strong{
  color: #026fff;
}

h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 4rem;
}

ol,
ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size:1.5brem;
}

figure{
  margin: 0;
}

.hero{
  height: 30rem;
  /* background-image: url('../images/jhanpiere.png'); */
  background-color: #1b2127;
  /* font-size: 50rem 30rem; */
  /* background-repeat: no-repeat */;
  /* background-position-x: right; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image{
  object-fit: cover;
}

.portfolio{
  background: #fafafa;
  padding: 2rem;
}

.project{
  border: 0.1rem solid gray;
  border-radius: 1rem;
  margin: 1.5rem;
  padding: 2rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-course,
.project-date,
.project-url{
  margin: 1rem 0;
  font-size: 1.6rem;
}

.project-description{
  font-size: 2rem;
}

.project strong{
  font-family: 'Fjalla One', sans-serif;
}

.project-title{
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.project-details{
  width: 50%;
}

.project-imageContainer{
  width: 50%;
}

.project-image{
  width: 100%;
  border-radius: 1rem;
  border: 0.1rem solid #f4fbff;
}

.project-imageContainer img{
  max-width: 100%;
}

.header{
  background-color: #1b2127;
  color: white;
  display: flex;
  height: 7rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header a{
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.menu{
  height: inherit;
}
.menu .link{
  font-size: 1.7rem;
}
.header ol{
  display: flex;
  height: inherit;
}
.header ol li{
  height: inherit;
}

.container{
  border: 0.1rem solid red;
  max-width: 100rem;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.event-list-title{
  margin-left: 2rem;
}

.event-list{
  display: flex;
  flex-wrap: wrap;
}

.event{
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 1rem;
  overflow: hidden;
  background: #f4fbff;
}

.event-image{
  width: 48rem;
  height: 20rem;
  object-fit: cover;
}

.event-detail{
  margin: 2rem 4rem;
  margin-top: -4rem;
  background-color: white;
  position: relative;
  padding: 2rem;
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.event-description{
  text-align: left;
}

.event-url{
  color: #056fff;
  border: 0.1rem solid;
  padding:0.5rem 2em;
  text-decoration: none;
  border-radius: 0.5rem;
}

.contact{
  background-color: #026fff;
  color: white;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-link{
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin: 0 1rem;
  background-size: 5rem 5rem;
}

.social-link.twitter{
  background-image: url('../images/twitter.svg');
}

.social-link.facebook{
  background-image: url('../images/facebook.svg');
}

.social-link.github{
  background-image: url('../images/github.svg');
}

.social-link.instagram{
  background-image: url('../images/instagram.svg');
}

.form-email input{
  border-color: gray;
  border-style: solid;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem 1rem 2.5rem;
  background-image: url('../images/envelope.svg');
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 0.5rem;
}

.form-email button{
  display: block;
  background: transparent;
  color: white;
  padding: 1rem 0;
  border-radius: 0.5rem;
  width: 10rem;
  margin-top: 1rem;
}

.form-email h3{
  font-family: 'Source Sans Pro', sans-serif;
}

.footer{
  padding: 1.5rem;
  color: white;
  background-color: #1b2127;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer p{
  font-size: 2rem;
}
.footer  a{
  color: white;
  text-decoration: none;
}
