.container{
  /* padding: 0 1.6rem; */
}

.hero{
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 1rem;
}

.hero-image{
  position: absolute;
  z-index: 1;
}

h1{
  font-size: 3.2rem;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.header{
  display:block;
  height: auto;
}

.header ol{
  display: block;
}

.header ol li{
  height: 5rem;
}

.header a{
  justify-content: center;
}

.header .logo{
  text-align: center;
}

.project{
  display: block;
}

.project-imageContainer{
  width: auto;
  text-align: center;
}

.project-details{
  width: auto;
  font-size: 1rem;
}

.project-course, .project-date, .project-url{
  margin: 0.3em 0;
}

.project-title{
  font-size: 2.1em;
  margin-bottom: 0.3em;
}
.project-url{
  font-size: 1.6em;
}

.project-course{
  font-size: 1.8rem;
}

.project-date{
  font-size: 1.6em;
}

.event{
  width: auto;
  flex-shrink: initial;
}

.event img{
  width: 100%;
  object-position: 25% 25%;
}